<!doctype html>
<html>
<head>
     <meta charset="UTF-8">
     <title>{{ .Params.Title }}</title>
     <link rel="stylesheet" href="/style/normalize.css">
     <link rel="stylesheet" href="/style/main.css">
    <!-- 
  This line removes any default padding and style. 
       You might only need one of these values set. 
  <style> body {padding: 0; margin: 0;} </style> -->

</head>
<body>
     {{ partial "header.html" . }}
  
     {{.Content}}
     <div class = "container">

         <h3 align="justify">A perfect metaphysical system should start with the positive method and end with the negative one...</h3>
         <h3>One must speak very much before one keeps silent.</h3>
         <h3 align="right">- <a href="https://en.wikipedia.org/wiki/Feng_Youlan">Feng Youlan</h3>

     </div>

</body>
</html>